{% extends base_template %}

{% block title %}Seite nicht gefunden | Fehler 404{% endblock %}

{% block body %}
	<h1>Fehler 404: Seite nicht gefunden</h1>
	<p>Die angeforderte Seite existiert leider nicht (mehr).</p>
	<a href="/">Zur Startseite</a>
{% endblock %}