{% extends 'backend/base.html.twig' %}

{% block title %}Admin - Seiteneinstellungen{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="mb-4">Seiteneinstellungen</h1>
		<p>Hier können Sie Einstellungen für die gesamte Seite vornehmen</p>
	</div>
{% endblock %}