{% extends 'backend/base.html.twig' %}

{% block title %}Admin - Sicherheitseinstellungen{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="mb-4">Sicherheitseinstellungen</h1>
		<p>Hier können Sie die Sicherheitseinstellungen für die gesamte Seite vornehmen</p>
	</div>
{% endblock %}