{% extends 'backend/base.html.twig' %}

{% block title %}Neue Variable anlegen{% endblock %}

{% block body %}
	<div class="container-fluid">
		<h1 class="mb-4">Neue Variable anlegen</h1>

		{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
		{% include 'backend/forms/settings_variables.html.twig' %}
		<button class="btn btn-success">Anlegen</button>
		{{ form_end(form) }}

		<a class="btn btn-link mt-3" href="{{ path('admin_settings_variables') }}">Zurück zur Übersicht</a>
	</div>
{% endblock %}