{% extends base_template %}

{% block title %}Nicht autorisiert | Fehler 401{% endblock %}

{% block body %}
	<h1>Fehler 401: Nicht autorisiert</h1>
	<p>Du bist für den Zugriff auf diese Seite nicht angemeldet.</p>
	<a href="/">Zurück zur Startseite</a>
{% endblock %}