{% extends base_template %}

{% block title %}Zugriff verweigert | Fehler 403{% endblock %}

{% block body %}
	<h1>Fehler 403: Zugriff verweigert</h1>
	<p>Du hast leider keine Berechtigung, diese Seite zu sehen.</p>
	<a href="/">Zurück zur Startseite</a>
{% endblock %}