{% extends base_template %}

{% block title %}Interner Fehler | Fehler 500{% endblock %}

{% block body %}
	<h1>Fehler 500: Interner Serverfehler</h1>
	<p>Es ist ein unerwarteter Fehler aufgetreten. Bitte versuche es später noch einmal.</p>
	<a href="/">Zurück zur Startseite</a>
{% endblock %}