{% extends base_template %}

{% block title %}Wartungsarbeiten | Fehler 503{% endblock %}

{% block body %}
	<h1>Fehler 503: Dienst nicht verfügbar</h1>
	<p>Die Seite ist derzeit aufgrund von Wartungsarbeiten nicht erreichbar. Komm bitte später wieder vorbei.</p>
	<a href="/">Zurück zur Startseite</a>
{% endblock %}